<div class="product-card">
  <img
    alt=""
    ngSrc="{{ product.image }}"
    width="320"
    height="160"
    sizes="(min-width: 640px) 25vw, 100vw"
    class="product-card-img"
  />
  <div class="favorite-btn" (click)="updateFavorite()">
    <ng-icon name="{{ favorite ? 'heroHeartSolid' : 'heroHeart' }}"></ng-icon>
  </div>
  <div class="product-card-content">
    <p class="product-name">{{ product.name }}</p>
    <p class="product-description">{{ product.description }}</p>
    <div class="product-card-footer">
      <p class="product-price">{{ product.price | currency : "USD" }}</p>
      <div class="cart-btn" (click)="addToCart()">
        <ng-icon name="heroShoppingBagSolid"></ng-icon>
      </div>
    </div>
  </div>
</div>
