<nav class="navbar">
  <div>
    <a class="text-xl font-bold font-mono">eStore</a>
  </div>
  <div class="grow-1 flex justify-center items-center mx-4">
    <div class="search">
      <input type="text" class="search-input" #searchInput (keyup)="search(searchInput.value)" />
      <ng-icon name="heroMagnifyingGlass" class="absolute right-2"></ng-icon>
    </div>
  </div>
  <div class="flex">
    <div class="relative cursor-pointer" (click)="showCartModal()">
      <ng-icon name="heroShoppingCart" class="mx-2 my-1"></ng-icon>
      <span class="count-badge">{{ cartCount$ | async }}</span>
    </div>
  </div>
</nav>
