<div class="cart-modal">
  <div class="cart-modal-header">
    <div class="clear-btn" (click)="clearCart()">
      <ng-icon name="heroTrashSolid"></ng-icon>
      <p>Clear</p>
    </div>
    <ng-icon name="heroXMark" class="close-btn" (click)="closeCartModal()"></ng-icon>
  </div>
  @for (cartItem of cartItems$ | async; track cartItem.product.id) {
    <app-cart-modal-item [cart-item]="cartItem"/>
  }
  <div class="cart-modal-footer">
    <div class="cart-summary">
      <p>Total</p>
      <p class="total-price">{{ getTotalPrice() | async | currency: 'USD' }}</p>
    </div>
    <button class="checkout-btn">Checkout</button>
  </div>
</div>
