<div class="cart-item-container">
  <img
    alt=""
    ngSrc="{{ cartItem.product.image }}"
    width="120"
    height="60"
    class="cart-item-img"
  />
  <div class="cart-item-content">
    <div class="item-details">
      <p class="item-product-name">{{ cartItem.product.name }}</p>
      <p class="item-product-price">{{ getItemPrice() | currency: 'USD' }}</p>
    </div>
    <span class="stock-badge">In stock</span>
    <div class="flex justify-between">
      <div class="remove-btn" (click)="removeCartItem()">
        <ng-icon name="heroTrash"></ng-icon>
        <p>Remove</p>
      </div>
      <div class="cart-item-counter">
        <ng-icon name="heroMinus" class="decrement-btn cursor-pointer" (click)="decrementCounter()"></ng-icon>
        <input class="item-count" type="number" min="1" disabled value="{{ cartItem.quantity }}"/>
        <ng-icon name="heroPlus" class="increment-btn cursor-pointer" (click)="incrementCounter()"></ng-icon>
      </div>
    </div>
  </div>
</div>
